<h1>New album</h1>
<%= form_for @picture, html: { multipart: true } do |f| %>

	<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>

   <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', albums_path %>